version: '3'
services:
  compensationcalculator:
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      - DEV_MODE=true
      - RAPID_API_KEY=YOUR_API_KEY
  web:
    image: nginx:latest
    ports:
      - 80:80
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - compensationcalculator